@use "@/styles/_colors.scss";

.chartContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 0.4rem;
  border: colors.$borderDefault;
  flex: 1;
  background-color: colors.$backgroundGray;

  .chartTitle {
    display: flex;
    gap: 0.4rem;

    .chartIcon {
      object-fit: contain;
      width: 1.6rem;
      height: fit-content;
    }
  }
}
