@use "@/styles/_colors";

.listFooterContainer {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: colors.$borderDefault;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  background-color: white;

  .statusContainer {
    display: flex;
    gap: 0.8rem;

    .statusItem {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      .statusColor {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .listFooterContainer {
    align-items: center;
    justify-content: center;
  }
}
