@use "@/styles/_colors";

.analyticsContainer {
  width: 100%;
  display: grid;
  grid-template-areas:
    "anualAnalysis anualAnalysis anualAnalysis"
    "productionOrderChart goalChart goalSection"
    "employeeAnalysis employeeAnalysis goalSection";
  gap: 0.6rem;
  box-sizing: border-box;

  .lineChart {
    grid-area: anualAnalysis;
  }

  .pieChart {
    grid-area: productionOrderChart;
    display: flex;
    gap: 0.6rem;
    flex: 1;
    width: 100%;

    .pieChartGoal {
      grid-area: goalChart;
      background-color: colors.$backgroundGray;
      border: colors.$borderDefault;
      border-radius: 0.4rem;
      width: 60%;
      padding: 1rem;
    }
  }

  .pendingGoal {
    grid-area: goalSection;
  }

  .employeesAnalysis {
    grid-area: employeeAnalysis;
    height: fit-content;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .analyticsContainer {
    display: flex;
    flex-direction: column;

    .pieChart {
      flex-direction: column;
    }
  }
}
