.ul {
  gap: 0.4rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: 11rem 11rem 11rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  overflow-y: auto;

  li {
    height: fit-content;
  }

  h1 {
    opacity: 0.5;
  }
}
