.linkButtonContainer {
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 4px;
  text-decoration: none;
  min-width: fit-content;
  box-sizing: border-box;

  .linkButtonIcon {
    object-fit: contain;
    width: 1.5rem;
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .linkButtonContainer {
    padding: 0.8rem 1rem;
  }
}
