.linkButtonContainer {
  background-color: black;
  color: white;
  padding: .4rem;
  display: flex;
  align-items: center;
  gap: .4rem;
  border-radius: 4px;
  width: fit-content;
  text-decoration: none;
}
