@use "@/styles/_colors";

.deliverButton {
  display: flex;
  align-items: center;
  gap: .4rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: colors.$borderDefault;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(247, 255, 216);
    color: green;
  }
}
