$menuSelectedBlue: #e7e5ff;
$menuSelectedTextBlue: #043679;
$borderColor: #b9b9b9;
$borderDefault: 1px solid $borderColor;
$wipColor: rgb(243, 121, 137);
$wipTextColor: hsl(352, 61%, 28%);
$backgroundGray: #f5f5f5;
$backgroundGrayTrasparent: rgba(245, 245, 245, 0.6);

$textPrimary: #333333;
$textSecondary: #666666;
$errorRed: #d32f2f;
$errorBackground: #ffebee;
// #e9e9e9
