@use "@/styles/_colors";

.defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  flex: 1;
  //border-radius: .4rem;
  border: colors.$borderDefault;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
