.selectInput {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  box-sizing: border-box;
  flex: 1;

  h4 {
    font-size: 1rem;
  }
}

.isRequired {
  h4 {
    display: flex;
    gap: .2rem;

    &:after {
      content: "*";
      color: #e34e4e;
    }
  }
}

.isDisabled {
  select {
    cursor: not-allowed;
    opacity: .5;
  }
}