@use "@/styles/_colors.scss" as colors;

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto), sans-serif;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100dvh;
}

html {
  font-size: 14px;
}

body {
  display: flex;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #383838;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  color: #383838;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  color: #383838;
  font-weight: 500;
}

.pageContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  filter: blur(0px);
  transition: all 0.3s ease-in-out;
}

.loading {
  filter: blur(15px);
  pointer-events: none;
}

.loadingAnimation {
  position: absolute;
  top: 26rem;
  left: 41rem;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  span {
    opacity: 0.8;
    font-weight: bold;
  }
}

.mainContainer {
  flex: 1;
  padding: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  h2 {
    color: #383838;
  }
}

textarea {
  border-radius: 0.3rem;
  border: colors.$borderDefault;
}

select {
  background-color: white;
  border: colors.$borderDefault;
  border-radius: 0.4rem;
  flex: 1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  input {
    padding-left: 3rem;
  }

  .loadingAnimation {
    left: 40%;
    z-index: 10;
  }
}
