@use "@/styles/_colors.scss" as colors;
:root {
  --dark-blue: #1a447e;
  --default-border: #636c7c;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto), sans-serif;
}

html,
body {
  width: 100%;
  height: 100dvh;
}

html {
  font-size: 14px;
}

body {
  display: flex;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #383838;
  font-weight: 500;
}

h3 {
  font-size: 1.4rem;
  color: #383838;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  color: #383838;
  font-weight: 500;
}

.pageContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  filter: blur(0px);
  transition: all 0.3s ease-in-out;
}

.loading {
  filter: blur(15px);
  pointer-events: none;
}

.loadingAnimation {
  position: absolute;
  top: 26rem;
  left: 41rem;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  span {
    opacity: 0.8;
    font-weight: bold;
  }
}

.mainContainer {
  flex: 1;
  padding: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  gap: .4rem;

  h2 {
    color: #383838;
  }
}

input {
  padding: .6rem;
  border-radius: .4rem;
  border: colors.$borderDefault;
}

textarea {
  border-radius: 0.3rem;
  border: colors.$borderDefault;
  resize: none;
}

select {
  background-color: white;
  border: colors.$borderDefault;
  border-radius: 0.4rem;
  flex: 1;
  padding: .6rem;
}

.tableWrapper {
  height: 100%;
  width: 100%;
  border: colors.$borderDefault;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .4rem;
  overflow: hidden;
}

.notFoundTable {
  flex: 1;
  box-sizing: border-box;
}

.listContainer {
  background-color: white;
  border-collapse: collapse;
  overflow: auto;
  width: 100%;


  tbody {
    tr:nth-child(even) {
      background-color: #f1f1f1;
    }

    tr:hover {
      background-color: #ededed;
    }
  }

  th, td {
    text-align: left;
    padding: .8rem;
  }

  .listHeader {
    border: none;
    background-color: var(--dark-blue);
    color: white;

    th {
      font-weight: 600;
    }
  }

  .listItem {
    padding: 0.8rem;
    border-bottom: 1px solid colors.$borderColor;

    tr:hover {
      background-color: #dfdfdf;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  li {
    flex: 1;
    list-style-type: none;

    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 1rem;
  border: colors.$borderDefault;
  border-radius: .4rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  input {
    //padding: 2rem;
  }

  .loadingAnimation {
    left: 40%;
    z-index: 10;
  }
}
