@use "@/styles/_colors.scss";

.editButton {
  gap: 0.5rem;
  background-color: white;
  color: black;
  object-fit: contain;
  width: fit-content;
  height: 1rem;
  display: flex;
  cursor: pointer;
  padding: 0.4rem;
  border: colors.$borderDefault;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  .buttonIcon {
    object-fit: contain;
    width: 1.2rem;
    height: fit-content;
  }
}
