.editButton {
  gap: 0.5rem;
  background-color: white;
  color: black;
  object-fit: contain;
  width: fit-content;
  display: flex;
  height: fit-content;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  .buttonIcon {
    object-fit: contain;
    width: 1.2rem;
    height: fit-content;
  }
}