@use "@/styles/_colors";

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;

  .tabs {
    display: flex;
    gap: 0.4rem;
    width: 100%;
    box-sizing: border-box;

    button {
      flex: 1;
      position: relative;
      padding: .8rem;
      display: flex;
      align-items: center;
      gap: .4rem;
      border: 1px solid colors.$borderColor;
      border-radius: .4rem .4rem 0 0;
      cursor: pointer;
      transition: all .2s ease-in-out;
      border-bottom: 0;
      background-color: white;
      text-align: start;
      color: colors.$textPrimary;
      font-size: 1rem;
      overflow: hidden;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background: linear-gradient(180deg, transparent, transparent, #00000020);
      }
    }

    .isSelected {
      background-color: colors.$menuSelectedTextBlue;
      color: white;
      cursor: default;
      border: 1px solid colors.$menuSelectedTextBlue;
      font-weight: 700;
      border-bottom: 0;
      box-shadow: none;

      &::after {
        display: none;
      }
    }

    .icons {
      width: 1.2rem;
      height: fit-content;
      object-fit: contain;
    }
  }

  .desktopFilters {
    display: flex;
    gap: 0.6rem;
  }

  .registerButtonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;


    .registerButton {
      padding: 0.4rem 0.8rem;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      height: 100%;
      border: none;
      border-radius: 0.3rem;
      background-color: black;
      color: white;
      font-size: 1.0rem;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .activityDropdown {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.4rem;
  }


  .mobileFilters {
    display: none;
  }

  .filterMobileContainer {
    display: none;
  }
}

.cardListContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 11rem 11rem 11rem;
  gap: 0.6rem;
  flex: 1;
  overflow-y: auto;
  padding: 0.8rem;
  list-style: none;
  background-color: colors.$backgroundGray;
  border: colors.$borderDefault;

  li {
    height: fit-content;
  }
}

.emptyList {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .listContainer {
    .desktopFilters {
      display: none;
    }

    .mobileFilters {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      button {
        box-sizing: border-box;
        padding: 0.4rem;
      }
    }

    .filterMobileContainer {
      position: absolute;
      transform: translateY(30%);
      z-index: 4;
      display: none;
      opacity: 0;
      transition: all 1s ease-in-out;
      width: 85%;
      border: colors.$borderDefault;
      border-radius: 0.8rem;
      background-color: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .open {
      display: block;
      opacity: 1;
    }
  }
}
