.createRegisterForm {
  display: grid;
  grid-template-areas:
    "deliver-date deliver-date deliver-date"
    "title-input title-input title-input"
    "description-input description-input description-input"
    "client-select produto-select quantity-input"
    "buttons buttons buttons";
  gap: 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  border-radius: 0.4rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    span {
      font-size: 1.2rem;
      font-weight: 500;
    }

    input,
    select,
    textarea {
      padding: 0.6rem;
      border-radius: 0.4rem;
      border: 1px solid #e0e0e0;
      resize: none;
      background-color: white;
    }

    textarea {
      height: 5rem;
    }

    select {
      cursor: pointer;
    }
  }

  .deliverDate {
    grid-area: deliver-date;
    width: fit-content;

    .deliverDateLabel {
      font-size: 1rem;
      opacity: 0.6;
      font-style: italic;
    }
  }

  .titleInput {
    grid-area: title-input;
  }

  .descriptionInput {
    grid-area: description-input;
  }

  .clientSelect {
    grid-area: client-select;
  }

  .productSelect {
    grid-area: produto-select;
  }

  .quantityInput {
    grid-area: quantity-input;
  }

  .descriptionInput {
    grid-area: description-input;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    gap: 0.4rem;
    height: 2.6rem;

    button {
      background-color: white;
      padding: 0.4rem 2.2rem;
      height: 100%;
      cursor: pointer;
      border-radius: 4px;
      border: 1px solid #e0e0e0;
    }
  }
}
