.filterDropdownContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
  flex: 1;

  span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
    color: #3a3a3a;
  }

  select {
    padding: 0.4rem;
  }
}
