.chartSectionContainer {
  display: flex;
  gap: 1rem;
  border-radius: 0.4rem;

  .chartContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;

    .chartTitle {
        display: flex;
        gap: .4rem;

      .chartIcon {
        object-fit: contain;
        width: 1.6rem;
        height: fit-content;
      }
    }
  }

  .pieChartContainer {
    background-color: #f9f9f9;
    width: 30%;

    .pieChart {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
  }

  .linearChartContainer {
    background-color: #f9f9f9;
    width: 80%;

    .linearChart {
      width: 100%;
      height: fit-content;
      object-fit: contain;
    }
  }
}
