@use "@/styles/_colors.scss";

.menuOptionContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  color: #000000;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  h4 {
    font-weight: 400;
  }

  .selected {
    color: colors.$menuSelectedTextBlue;
  }

  .menuIcon.selected {
    color: colors.$menuSelectedTextBlue;
  }

  .menuIcon {
    color: #000000;
    object-fit: contain;
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    transform: translateX(0.4em);
  }
}

.menuOptionContainer.selected {
  background-color: colors.$menuSelectedBlue;
  border-left: 0.3rem solid colors.$menuSelectedTextBlue;
  opacity: 1;

  h4 {
    font-weight: bold;
  }

  &:hover {
    transform: translateX(0em);
  }
}

@media screen and (max-width: 768px) {
  .menuOptionContainer {
    align-items: center;
    // justify-content: center;

    .menuIcon {
      width: 2rem;
    }

    h4 {
      // display: none;
    }
  }

  .menuOptionContainer.selected {
    border-left: none;
    border: 2px solid colors.$menuSelectedTextBlue;
  }
}
