@use "@/styles/_colors.scss";

.sidebarMenuContainer {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  background-color: colors.$backgroundGray;
  gap: 0.6rem;
  box-sizing: border-box;
  border-right: colors.$borderDefault;

  .sidebarHeader {
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    color: colors.$menuSelectedTextBlue;
    gap: 0.8rem;

    .grupoduLogo {
      object-fit: contain;
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: colors.$borderColor;
  }

  .menuOptionsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
  }

  .logoutButtonContainer {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    button {
      width: 100%;
      padding: 0.6rem;
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      font-size: 1rem;
    }
  }
}
