@use "@/styles/_colors.scss";

.chartContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 0.4rem;
  border: colors.$borderDefault;
  width: 100%;

  .chartTitle {
    display: flex;
    gap: 0.4rem;

    .chartIcon {
      object-fit: contain;
      width: 1.6rem;
      height: fit-content;
    }
  }
}

.pieChartContainer {
  background-color: colors.$backgroundGray;
  width: 45%;

  .pieChart {
    width: 100%;
    // padding: 10px;
    height: fit-content;
    object-fit: contain;
    // box-sizing: border-box;
  }
}

.pieChartContainerAnalysis {
  width: 90%;
}

@media screen and (max-width: 768px) {
  .pieChartContainer {
    width: 100%;

    box-sizing: border-box;
  }
}
