@use "@/styles/_colors.scss";

.registerUserContainer {
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  border: colors.$borderDefault;
  padding: 1rem;
  border-radius: 0.6rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 0.6rem;

    input,
    select {
      padding: 0.4rem;
      border-radius: 0.5rem;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
    }

    span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  .buttons {
    display: flex;
    gap: 0.6rem;

    button {
      background-color: white;
      padding: 0.4rem 2.2rem;
      height: 100%;
      cursor: pointer;
      border-radius: 4px;
      border: colors.$borderDefault;
    }
  }
}

@media screen and (max-width: 768px) {
  .registerUserContainer {
    display: flex;
    flex-direction: column;

    label,
    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
