@use "@/styles/colors";

.textInput {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-sizing: border-box;
  flex: 1;

  h4 {
    font-size: 1rem;
  }
}

.isRequired {
  h4 {
    display: flex;
    gap: 0.2rem;

    &:after {
      content: "*";
      color: #e34e4e;
    }
  }
}
